<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
<button type="button" class="btn btn-secondary btn-lg" routerLink="/nuevaedu" *ngIf="isLogged">
   Nueva Educacion


   
</button>

    </div>
   
    <div class="col-lg-1"></div>
   <div class="col-lg-11">
       <table class="table">
           <tbody>
              <tr *ngFor="let Educacion of educacion">
                <td><b>{{Educacion.nombreEstudio}}</b></td>
                <td>{{Educacion.descripcion}}</td>
                <td *ngIf="isLogged"><button type="button" class="btn btn-outline-secondary" routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-three-dots-vertical"></i>EDITAR </button>
                  </td>
                <td *ngIf="isLogged"><button type="button" class="btn btn-outline-secondary" (click)="delete(Educacion.id)" ><i class="bi bi-trash2-fill"></i>BORRAR</button></td>
              </tr>     
   
           </tbody>
   
        </table>

   </div>

  
   
</div> 