<div class="row">
     <h1>Experiencia laboral</h1>
     <div class="col-lg-1"></div>
     <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus vel assumenda, enim a debitis laboriosam ratione amet tempore, esse voluptas at quas sed, eius odio cum dolores dignissimos neque minus.</p>
        </ul>  
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus vel assumenda, enim a debitis laboriosam ratione amet tempore, esse voluptas at quas sed, eius odio cum dolores dignissimos neque minus.</p>
        </ul>  
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus vel assumenda, enim a debitis laboriosam ratione amet tempore, esse voluptas at quas sed, eius odio cum dolores dignissimos neque minus.</p>
        </ul>  
    </div>
</div> 